.modal{
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Roboto', sans-serif;
}

.modal-content{
    width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.modal-body, .modal-footer{
    padding: 10px;
}

.bttn{
    width: 80px;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    border: 1px solid;
    cursor: pointer;
    box-shadow: 1px 1px rgb(102, 82, 82);
    color: white;
    font-weight: 700;
}

.bttn:hover{
    transform: scale(1.05);
}

.ingredientsList{
    list-style: none;
    padding:0;
    margin: 1px;
    justify-content: left;
}